{% extends 'app/base.html' %}
{% load static %}
{% block title %}Gym Supplement{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class = "list-group">
     <a href = "{% url 'sup' %}" class="list-group-item list-group-item-action"
     aria-current="true">All Suppelemt</a>
     <a href = "{% url 'supdata' 'below' %}" class="list-group-item list-group-item-action"
     aria-current="true">below 800</a>
     <a href = "{% url 'supdata' 'above' %}" class="list-group-item list-group-item-action"
     aria-current="true">above 1000</a>
   </div>
  </div>
  <div class="col-sm-8">
   <div class = "row">
     {% for product in sups %} 
      <div class="col-sm-4 text-center mb-4">
       <a href="{% url 'product-detail' product.id %}" class="btn">
        <div class="item">
          <img src="{{product.product_image.url}}" alt=""
          height="300" class="">
          <div class="fw-bold"><<p><b>{{product.title}}</b></p></div>
          <div class="fw-bold"><p><b>Rs.{{product.discounted_price}}
          <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></b></p></div>
         </div>
       </a>
      </div>
     {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}