 *{
	margin: 0;
	padding: 0;
}

body { background:var(--primary-colour);}

:root{
    --primary-colour:linear-gradient(to bottom left, #33ccff -9%, #ff99cc 92%);
    --secondary-color:#212121; 

}
.dark{
    --primary-colour:#101820FF;
    --secondary-color:#FEE715FF;
}

.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
 font-family: 'Kaushan Script', cursive;
 border-style: hidden;
}
.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}

#op{
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Kaushan Script', cursive;

}
.container{
	font-family: 'Kaushan Script', cursive;

}